body {
    font-family: 'Finlandica', sans-serif;
    font-family: 'Lobster', cursive;
    margin: 0;
}

section {
    display: flex;
    /* margin-bottom: 100px; */
}

.half-width {
    width: 50%;
}

.half-width img {
    width: 100%;
}

.orange {
    color: orange;
}

h1 {
    font-size: 50px;
}

.text-part {
    padding: 40px 30px;
    padding-left: 10%;
}

.extra {
    padding-top: 10%;
}

.first-part {
    background-image: url(image/Frame\ 58.jpg);
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, orangered);
    padding: 5px 10px;
    border-radius: 10px;
}

.secend-part {
    background-image: url(image/Frame\ 57.jpg);
    margin-bottom: 50px;
}

.recepetion {
    padding-left: 30%;
    padding-right: 30%;
    text-align: center;
}

.half-box {
    margin: 5px 30px;
    box-shadow: 10px 10px 30px gray;
    padding: 2% 3%;
    border-radius: 15px;
}

.tird-part {
    background-image: url(image/bg/2nd.png);
    margin-bottom: 100px;
}

.show-of {
    padding: 5% 10%;
}

.fourth-part {
    box-shadow: 10px 10px 30px rgb(143, 212, 13);
    margin: 2% 3%;
    border-radius: 10px;
    margin-bottom: 100px;

}

footer {
    color: white;
    background-color: black;
    height: 150px;
    text-align: center;
}